//variables
$color1: #13141f;
$color2: #485196;
$color2a: rgba(72, 81, 150, 0.2);
$color3: #176ea3;
$color3a: rgba(23, 110, 163, 0.2);
$color4: #09c7d9;
$color4a: rgba(9, 199, 217, 0.2);
$color5: #0bfcae;
$color5a: rgba(11, 252, 174, 0.2);
$reset: rgb(190, 59, 59);

$full: 100%;
$half: 50%;
$hScreen: 100vh;
$font1: 'Raleway',
    sans-serif;
$font2: 'Playfair Display',
    serif;